<%- include('./partials/header.ejs') %>
    <div class="container" style="text-align: center;">
        <div>
            <h1>Bid Id : <%- bidDetails._id %> </h1>
            <h3>Auctioner : <%- bidDetails.auctioner %> </h3>
            <h3>Base Bid : <%- bidDetails.baseBid %> </h3>
            <h3>Item Name : <%- bidDetails.itemName %> </h3>
            <img src="<%- bidDetails.imageUrl %>" alt="Image of <%- bidDetails.itemName %>" height="200" width="300" />
            <% if(bidDetails.highestBidder && bidDetails.bidAmount){ %>
                <h3>Highest Bidder : <%- bidDetails.highestBidder %> </h3>
                <h3>Current Bid : <%- bidDetails.bidAmount %> </h3>
            <% }else{ %>
                <h5>No Bids till now</h5>
            <% } %>
        </div>
        <% if(bidDetails.auctioner == user.email){ %>
            <h3>Update your auction</h3>
            <form id="update" style="text-align: left;" action="/bid-update/<%- bidDetails._id %>">
                <label for="itemName">Item Name:</label>
                <input name="itemName" type="text">
                <label for="description">Description:</label>
                <textarea name="description"></textarea>
                <label for="imageUrl">Image Url:</label>
                <input name="imageUrl" type="url">
                <button type="submit">Update</button>
            </form>
            <br />
            <br />
            <br />
            <a class="btn-danger badge badge-pill" href="/bid-delete/<%- bidDetails._id %> ">Delete Auction</a>
            
        <% }else{ %>  
            <form id="bid">
                <label for="amount">Bid Amount</label>
                <input type="number" name="amount">
                <div class="error"></div>
                <button type="submit">Bid</button>
            </form>
            <div class="success"></div>
        <% } %>
    </div>
    <script>
        const form = document.querySelector('#bid');
        form.addEventListener('submit',async (e) =>{
    

            e.preventDefault();
            const amount =  form.amount.value;
            try{
                const res = await fetch(window.location.pathname,{
                    method: 'POST',                    
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({amount}),
                });
                const data = await res.json();
                console.log(data);
                if(data){
                    document.querySelector('.success').textContent = "Bidded Successfully";
                    location.assign(window.location);
                }
            }
            catch (err){
                document.querySelector('.error').textContent = err;
            }
        });
    </script>
<%- include('./partials/footer.ejs')%> 