<%- include('./partials/header.ejs') %>
    <div>
        <h1>Bid Id : <%- bidDetails._id %> </h1>
        <h3>Auctioner : <%- bidDetails.auctioner %> </h3>
        <h3>Base Bid : <%- bidDetails.baseBid %> </h3>
        <h3>Item Name : <%- bidDetails.itemName %> </h3>
        <% if(bidDetails.highestBidder && bidDetails.bidAmount){ %>
            <h3>Highest Bidder : <%- bidDetails.highestBidder %> </h3>
            <h3>Current Bid : <%- bidDetails.bidAmount %> </h3>
        <% }else{ %>
            <h5>No Bids till now</h5>
        <% } %>
    </div>
    <% const url = '"/bid/'+bidDetails._id+'/"' %> 
    <form action=<%- url %> method="POST" enctype="application/x-www-form-urlencoded">
        <label for="amount">Bid Amount</label>
        <input type="number" name="amount">
        <div class="error"></div>
        <button type="submit">Bid</button>
    </form>
<%- include('./partials/footer.ejs')%> 