<%- include('./partials/header.ejs') %>

<h1 class="text-center">Profile</h1>

<h3 class="text-center">Email: <%- user.email %></h3>
<br/>
<br/>

<% if(data.auctioned.length !== 0) { %>
    <div class="container">
    <h3>Your Auctions</h3>
    <br/>
    <br/>
    <div class="row">
        <% data.auctioned.forEach( item => { %>
            <div class="col-md-4 col-sm-6">
                <img src="<%- item.imageUrl %>" alt="Image of<%- item.itemName %> " height="200" width="300"/>
                <h5>Item Name: <%- item.itemName %> </h5>
                <h6>Highest Bidder: <%- item.highestBidder %></h6>
                <br/>
                <h7>Current Bid: <%- item.bidAmount %> </h7>
                <br/>
                <h7>Other bids:</h7>
                <ul>
                <% item.bids.forEach( bid => { %>
                    <li>
                        <h8>Bidder: <%- bid.bidder %> </h8>
                        <h8>Bid: <%- bid.bidAmount %> </h8>
                    </li>
                 <% }) %>
                </ul> 
                <a class="btn" href="/bid/<%- item.id %>">Auction Link</a>
                <br/>
                <br/>
            </div>
        <% }) %>
    </div>
<% }else { %>
    <h3 class="text-center text-warning">You auctioned 0 items</h3>

<% } %> 
<% if(data.bidded.length !== 0) { %>
    <h3>Your bids</h3>

    <div class="row">
        <% data.bidded.forEach( item => { %>
            <div class="col-md-4 col-sm-6">
                <img src="<%- item.imageUrl %>" alt="Image of<%- item.itemName %> " height="200" width="300"/>
                <h5>Item Name: <%- item.itemName %> </h5>
                <h7>Current Bid: <%- item.bidAmount %> </h7>
                <br/>
                <% item.bids.forEach( bid => { %>
                    <% if(bid.bidder === user.email){ %>
                        <h7>Your bid: <%- bid.bidAmount %> </h7>
                    <% } %> 

                <% }) %> 
                <br/>
                <a class="btn" href="/bid/<%- item.id %>">Auction Link</a>
                <br/>
                <br/>
            </div>
        <% }) %>
    </div>
<% }else { %>
    <h3 class="text-center text-warning">You bidded 0 items</h3>

<% } %> 
    </div>

<%- include('./partials/footer.ejs') %> 