<%- include('./partials/header.ejs') %>
    <div class="container">
        <h1>Gallery</h1>
        <div class="row">
            <% data.forEach(function(item){ %>
                <div class="col-md-4 col-sm-6">
                    <img src="<%- item.imageUrl %>" alt="Image of<%- item.itemName %> " height="200" width="300"/>
                    <h3>Item Name:<%- item.itemName %></h3>
                    <h4>Highest Bidder:<%- item.highestBidder %></h4>
                    <a class="btn" href="/bid/<%- item.id %>">Auction Link</a>
                </div>
            <% }); %>
        </div>
    </div> 
<%- include('./partials/footer.ejs'); %>